# Default fragment merged on top of imx8_var_defconfig (see README.md here).
#
# Keep `uname -r` predictable: "6.18.20-custom" instead of
# "6.18.20-custom-g<git-sha>" (LOCALVERSION_AUTO appends the git hash).
# CONFIG_LOCALVERSION_AUTO is not set
